<div class="split-credit">
  <p>{{ .Site.Copyright | safeHTML }} - <a href="https://onepagelove.com/split" title="Split Template">Split Template</a> by <a href="https://onepagelove.com" title="One Page Love">One Page Love</a>. Photo by <a href="https://unsplash.com/@raphaelfyi?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Raphael Rychetsky</a> on <a href="https://unsplash.com/photos/brown-wheat-field-li9JfUHQfOY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
  
</div>
